<div class="row">
  <div class="panel columns large-6 medium-8 small-12 large-offset-3 medium-offset-2">
    <div class="panel-heading">
      <h2>Forgot your password?</h2>
    </div>
    <div class="panel-body">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			  <%= devise_error_messages! %>
			  <div class="field">
			    <%= f.label :email %><br />
			    <%= f.email_field :email, autofocus: true %>
			  </div>
			  <hr />
			  <div class="actions">
			    <%= f.submit "Send Instructions", :class => 'button' %>
			  </div>
			<% end %>
    </div>
  </div>
</div>
<div class="row help-links">
  <%= render "devise/shared/links" %>
</div>
