<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "RC Note" %></title>

    <link href='https://fonts.googleapis.com/css?family=Dosis:400,300,200,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="row">
        <div class="columns large-12 medium-12 small-12">
          <div class="top-bar-left">
            <ul class="menu" data-dropdown-menu>
              <li class="menu-text"><%= link_to 'RC Notes', root_path %></li>
              <% if user_signed_in? %>
                <li><%= link_to 'See Your Notes', notes_path %></li>
                <li><%= link_to 'Make New Note', new_note_path %></li>
              <% end %>
            </ul>
          </div>
          <div class="top-bar-right">
            <ul class="menu" data-dropdown-menu>
              <% if user_signed_in? %>
                <li><%= link_to('Settings', setting_path) %></li>
                <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
              <% else %>
                <li><%= link_to('Login', new_user_session_path)  %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <% flash.each do |key, value| %>
      <div class="row" style="margin-top: 30px;">
        <div class="columns large-6 medium-8 small-12 large-offset-3 medium-offset-2 alert alert-<%= key %>">
          <a href="#" class="close" data-dismiss="alert" class="close" onclick="$(this).parent().slideUp(); return false;">×</a>
          <ul>
            <li>
              <%= value %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
