<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "RC Note" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="top-bar">
      <div class="row">
        <div class="top-bar-left">
          <ul class="menu" data-dropdown-menu>
            <li class="menu-text"><%= link_to 'RC Notes', root_path %></li>
            <% if user_signed_in? %>
              <li><%= link_to 'See Your Notes', notes_path %></li>
              <li><%= link_to 'Make New Note', new_note_path %></li>
            <% end %>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="dropdown menu" data-dropdown-menu>
            <% if user_signed_in? %>
              <li>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
              </li>
            <% else %>
              <li>
              <%= link_to('Login', new_user_session_path)  %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <% flash.each do |key, value| %>
      <div class="row alert alert-<%= key %>">
        <a href="#" data-dismiss="alert" class="close" onclick="$(this).parent().slideUp(); return false;">×</a>
          <ul>
            <li>
              <%= value %>
            </li>
          </ul>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
